<a href="https://colab.research.google.com/github/MeghnaSedhain/Data-Science-Analytics/blob/main/Lab_1(DS%26A).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame({'Bob':['I liked it.','It was awful.'],'Sue':
              ['Pretty good.','Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [ ]:
df=pd.read_csv("drivers.csv")

In [ ]:
df.shape

(150, 12)

In [ ]:
df.head()

,driver_id,first_name,last_name,hire_date,termination_date,license_number,license_state,date_of_birth,home_terminal,employment_status,cdl_class,years_experience
0,DRV00001,Jennifer,Hernandez,2014-10-31,NaN,DL673510887,WA,1973-11-07,Denver,Active,A,3
1,DRV00002,William,Martin,2020-10-02,NaN,DL128955006,GA,1976-11-03,Columbus,Active,A,20
2,DRV00003,Charles,Hernandez,2021-09-21,NaN,DL523076025,NC,1970-04-06,Salt Lake City,Active,A,19
3,DRV00004,Barbara,Brown,2013-09-08,NaN,DL735540030,WA,1995-02-06,Denver,Active,A,19
4,DRV00005,Mary,Martinez,2018-12-02,NaN,DL706011277,AZ,1960-07-15,Chicago,Active,A,12

In [ ]:
df.driver_id

0      DRV00001
1      DRV00002
2      DRV00003
3      DRV00004
4      DRV00005
         ...
145    DRV00146
146    DRV00147
147    DRV00148
148    DRV00149
149    DRV00150
Name: driver_id, Length: 150, dtype: object

In [ ]:
df["first_name"]

0      Jennifer
1       William
2       Charles
3       Barbara
4          Mary
         ...
145     Jessica
146     Richard
147    Patricia
148       Linda
149      Robert
Name: first_name, Length: 150, dtype: object

In [ ]:
df.iloc[:3,0]

0    DRV00001
1    DRV00002
2    DRV00003
Name: driver_id, dtype: object

In [ ]:
df.first_name=='Jennifer'

0       True
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: first_name, Length: 150, dtype: bool

In [ ]:
df.loc[df.first_name == 'Jennifer']

,driver_id,first_name,last_name,hire_date,termination_date,license_number,license_state,date_of_birth,home_terminal,employment_status,cdl_class,years_experience
0,DRV00001,Jennifer,Hernandez,2014-10-31,NaN,DL673510887,WA,1973-11-07,Denver,Active,A,3
99,DRV00100,Jennifer,Martinez,2019-01-04,NaN,DL472807202,NC,1960-08-10,Memphis,Active,A,15
111,DRV00112,Jennifer,Miller,2016-10-26,NaN,DL626350075,NC,1991-05-25,Los Angeles,Active,A,14
118,DRV00119,Jennifer,Wilson,2014-04-29,NaN,DL859466878,UT,1983-12-05,Oklahoma City,Active,A,6
137,DRV00138,Jennifer,Thomas,2019-08-15,NaN,DL446071904,OR,1989-12-10,Nashville,Active,A,4

In [ ]:
df.loc[(df.first_name == 'Jennifer') & (df.last_name=='Hernandez')]

,driver_id,first_name,last_name,hire_date,termination_date,license_number,license_state,date_of_birth,home_terminal,employment_status,cdl_class,years_experience
0,DRV00001,Jennifer,Hernandez,2014-10-31,NaN,DL673510887,WA,1973-11-07,Denver,Active,A,3

In [ ]:
df.first_name.dtype

dtype('O')